body
{
overflow-x:hidden;
width:100%;
font: 15px "Century Gothic", "Times Roman", sans-serif;
background:#eee;
height:100%;
background-attachment:fixed;
}
.bg
{
background:url(../image/slide_1.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.trans_bg{
	background: rgba(0,0,0,0.7);
	min-height: 100%;
	margin: 0;
	padding-top: 40px;
}
.bg1
{
background:url(../image/slide_1.jpg);
height:600px;
margin-top: -70px;
}

.panel{
	background-color: #ddd !important;
	margin-top: 60px;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
	}

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');

	}

#names {
border: none !important;
background-color: black !important;
font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title
{
font-family:'typo';
}

.header
{
background:#202020;
height:70px;
}
.logo
{
font-family:'typo';
font-size:35px;
margin-top: 30px;
}
.title1{
font: 16px "Century Gothic", "Times Roman", sans-serif;

}
.title2{
font-family: 'Ubuntu', sans-serif;
font-size:20px;
}


.sub1
{
width:90px;
color:#202020;
background:#cd3;
font-size:15px;
height:35px;
margin:2px;
padding:5px;
text-align: center;

}


.sub
{
	width:100%;
	background-color:#1f95aa;
	border:none;
	border-radius: 8px;
	padding: 12px;
	text-align: center;
	cursor: pointer;
	color: #fff;
}
.sub:hover
{
	color:#1f95aa;
	background: none;
	border: 1px solid #1f95aa;
}

.footer
{
	margin-top: 5px;
background-color: black;
height: 45px;
}
.footer a
{
margin:25px;
color:orange;
text-decoration:none;
font: 15px "Century Gothic", "Times Roman", sans-serif;

}
.footer a:hover
{
text-decoration:none;
color:#9acd32;
border-top:2px solid;
border-color:orange;

}

.box
{
padding:9px;
}
hr{
color:#000000;
}
.top
{
margin-top:20px;
}
.log1
{
font: 15px 'Ubuntu', sans-serif;
color:orange;
margin-left:10px;
}

.log
{
margin:10px;
margin-right:60px;
margin-left:5px;
color:orange;
text-decoration:none;
font-size:20px;
font-size:15px;
}
.log:hover
{
color:#9acd32;
border-top:2px solid;
border-color:orange;
text-decoration:none;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
 
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 
}
.bg4
{
min-height:540px;
}